$font-stack: "Roboto Mono", monospace;

footer {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 1rem;
  background-color: mediumaquamarine;
  padding: 1.5rem 0;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  .social i {
    color: white;
    font-size: 1.5rem;
    width: 2rem;
  }
}
