header {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: mediumaquamarine;
    padding: 0.25rem 1.5rem;
    p {
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
