header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  nav {
    color: magenta;
    background-color: mediumaquamarine;
    p {
      a {
        color: magenta;
      }
    }
  }
}
