#log-section {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .radio-toolbar {
    background-color: mediumpurple;
  }

  #saved-trips {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .log-card {
      background-color: #f5f5f5;
      min-height: 25rem;
      max-width: 30rem;
      flex: 1 1 20rem;
      text-align: center;
      margin: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      img {
        max-width: 100%;
      }
    }
  }
}

/* Median screens */
@media (min-width: 600px) and (max-width: 900px) {
}

/* Large Screens */
@media (min-width: 901px) {
}
