#search-results {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #66cdaa;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;

  img {
    border-radius: 2rem;
    width: 75%;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
